@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    @apply bg-zinc-100 text-zinc-800 antialiased dark:bg-zinc-950 dark:text-zinc-200;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply rounded-full bg-zinc-300 dark:bg-zinc-700;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
}
